{
    "CHATS_PATH_WINDOWS": "./chats",
    "ROLES_PATH_WINDOWS": "./roles",
    "CHARACTERS_PATH_WINDOWS": "./characters",
    "SCENES_PATH_WINDOWS": "./scenes",
    "SETTINGS_PATH_WINDOWS": "./settings",
    "CONTEXT_PATH_WINDOWS": "./context",
    "STORIES_PATH_WINDOWS": "./stories",

    "CHATS_PATH_LINUX": "~/vivid-chat/chats",
    "ROLES_PATH_LINUX": "./roles",
    "CHARACTERS_PATH_LINUX": "./characters",
    "SCENES_PATH_LINUX": "./scenes",
    "SETTINGS_PATH_LINUX": "./settings",
    "CONTEXT_PATH_LINUX": "./context",
    "STORIES_PATH_LINUX": "./stories"
}